.app {
  min-height: 100vh;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 60px;
  pointer-events: none;
}

.app-header {
  width: 100vw;
  height: 50px;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
